### read the file and vectorization

In [9]:
import pandas as pd
df=pd.read_csv("yelp_cleaned_data.csv")

In [10]:
import numpy as np

In [11]:
good=df[df['class']==1]
bad=df[df['class']==0]

In [12]:
df1=df[['text','class']]
from nltk.corpus import stopwords
wd=stopwords.words()+['worse','yeah','yes','no','absolutely','actual','add','ago',
                     'actually','able','yet','wrong','hands','disappointed','disappointing',
                      'bad','good','dont','better','bacchanal','worst','poor','buffet','food',
                      'good','like','best','worth','vegas','back','tried','year','story','definitely',
                      'really','delicious','favourite','great','well','work','ago','added','additional','would','will',
                     'along','alone','almost','without','wonderful','world','wow','although','yet','wish','within','hope',
                     'afternoon','ahead','already','always','amazing','within','alright','anything','amount','anyone','willing',
                     'another','anything','however','but','end','anymore','anyway','anywhere','disappointment','someone',
                     'sick','horrible','penny','means','sometimes','charge','means','front','asked','array','arrive',
                     'around','area','areas','yelp','working','yum','wife','whatever','arrived','wide','years','yummy','whole',
                     'word','went','go','ask','ate','weird','wise','way']
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer(max_features=1000,stop_words= wd,token_pattern='(?u)\\b[a-zA-z][a-zA-Z]+\\b')

In [13]:
X=vectorizer.fit_transform(df1['text'])
y=df1['class'].values

In [14]:
df=pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names())
df.head()

,alaskan,alcohol,ambiance,american,appetite,aria,asian,asking,assortment,atmosphere,...,water,watermelon,week,weekday,weekend,weekends,white,wicked,wine,wynn
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,1,0,0,0,1,...,0,0,0,2,2,1,0,0,0,0

### Build logitics regression model

In [15]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
result=lr.fit(X,y)

/Users/yucenzhao/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [16]:
y_pred=lr.predict(X)
np.mean(y_pred==y)   ### accuracy

0.9158496732026143

In [17]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y,y_pred)

array([[1082,  511],
       [ 210, 6765]])

In [18]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y,y_pred)   ### AUC

0.8245570337970556

### calculate feature importance

In [19]:
feature_importance = abs(lr.coef_[0])

In [20]:
feature_importance = 100.0 * (feature_importance / feature_importance.max())

In [25]:
sorted_idx = np.argsort(feature_importance)
pos = np.arange(sorted_idx.shape[0]) + .5

In [26]:
dataframe=pd.DataFrame(sorted_idx, columns=['importance rank'])

In [27]:
dataframe['index1'] = dataframe.index

In [28]:
dataframe.sort_values(by=['importance rank'],ascending=False)

     importance rank  index1
201              999     201
826              998     826
109              997     109
916              996     916
200              995     200
164              994     164
93               993      93
23               992      23
794              991     794
504              990     504
981              989     981
533              988     533
685              987     685
562              986     562
873              985     873
19               984      19
274              983     274
512              982     512
691              981     691
129              980     129
190              979     190
373              978     373
788              977     788
142              976     142
904              975     904
476              974     476
902              973     902
56               972      56
854              971     854
891              970     891
..               ...     ...
846               29     846
32                28      32
281               27     281
906               26     906
553               25     553
746               24     746
968               23     968
216               22     216
945               21     945
238               20     238
169               19     169
956               18     956
779               17     779
408               16     408
25                15      25
440               14     440
3                 13       3
725               12     725
943               11     943
501               10     501
709                9     709
285                8     285
955                7     955
587                6     587
753                5     753
653                4     653
215                3     215
382                2     382
706                1     706
298                0     298

[1000 rows x 2 columns]

In [29]:
df.columns.get_values()[299]

'found'

In [30]:
dataframe1=pd.DataFrame(feature_importance, columns=['importance'])

In [31]:
dataframe1['index1'] = dataframe1.index

In [32]:
dataframe1.sort_values(by=['importance'],ascending=False).head()

     importance  index1
207  100.000000     207
359   81.972558     359
726   66.791773     726
615   61.635569     615
394   58.813537     394

In [33]:
list=[207,359,726,615,394,894,273,287,598,325,361,249,530,644,594,41,589,500,989,885,727,896,869,645,165,159,803,470,620,262]

In [34]:
words=[]
for i in list:
    words.append(df.columns.get_values()[i])
print(words)

['downside', 'heaven', 'rush', 'perfection', 'incredible', 'tender', 'favorite', 'finished', 'packed', 'glad', 'helpful', 'excited', 'mousse', 'poke', 'overrated', 'bigger', 'outstanding', 'mediocre', 'waste', 'tasteless', 'sad', 'terrible', 'sweets', 'pops', 'crispy', 'crazy', 'solid', 'low', 'personally', 'eyes']

In [35]:
dataframe1['word']=df.columns.get_values()[dataframe1['index1']]

In [36]:
col_list=df.columns

In [37]:
dataframe1['word']=""

In [38]:
dataframe1.head()

   importance  index1 word
0    6.911684       0
1   20.076039       1
2    8.975518       2
3    4.697838       3
4   17.578539       4

In [39]:
for i in dataframe1.index:
    dataframe1.loc[i,'word']=col_list[i]

In [40]:
data1=dataframe1.sort_values(by=['importance'],ascending=False)

In [394]:
data1.to_csv('data.csv')