In [1]:
import pandas as pd
review=pd.read_csv('buffet.csv')

In [2]:
review.shape

(8568, 33)

In [3]:
review.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,address,...,business_parking,ambience,categories_array,user_id-2,name-2,review_count-2,yelping_since,fans,elite,average_stars
0,RESDUcs7fIiihp38-d6_6g,0,2017-06-17 16:43:45,0,W5RswgVnEle0W1ZNIljgHw,5,Super fresh seafood. It's worth the wait.\n\nB...,0,SC5EHnwH64t31PjyCttw5A,3570 S Las Vegas Blvd,...,"{'lot': 'FALSE', 'valet': 'TRUE', 'garage': 'T...","{'divey': 'FALSE', 'casual': 'TRUE', 'classy':...","['Restaurants', 'Buffets', 'Sandwiches', 'Food...",SC5EHnwH64t31PjyCttw5A,Dennis,13,2011-06-17 18:19:47,0,NaN,3.92
1,RESDUcs7fIiihp38-d6_6g,0,2015-01-18 15:36:53,0,kjsy2HUCCCuZeh6qn0vcSQ,4,All I can say is Wooow! Haha I was in buffet h...,0,en0xQXlvRk-ZtKlaW4I8eQ,3570 S Las Vegas Blvd,...,"{'lot': 'FALSE', 'valet': 'TRUE', 'garage': 'T...","{'divey': 'FALSE', 'casual': 'TRUE', 'classy':...","['Restaurants', 'Buffets', 'Sandwiches', 'Food...",en0xQXlvRk-ZtKlaW4I8eQ,Aja,10,2014-06-29 00:24:47,0,NaN,3.55
2,RESDUcs7fIiihp38-d6_6g,2,2015-08-19 04:35:10,1,sHrnxaDlMZ5EyOgVNLIkyA,5,We checked in thinking that would mean we coul...,4,h2STke9y3VKzdJA9LXPm7A,3570 S Las Vegas Blvd,...,"{'lot': 'FALSE', 'valet': 'TRUE', 'garage': 'T...","{'divey': 'FALSE', 'casual': 'TRUE', 'classy':...","['Restaurants', 'Buffets', 'Sandwiches', 'Food...",h2STke9y3VKzdJA9LXPm7A,Ashley,378,2010-08-01 19:38:50,28,"2014,2015,2016,2017,2018",4.02
3,RESDUcs7fIiihp38-d6_6g,0,2012-11-06 06:06:19,0,taNGJlUdZqwXrw0AwAAR-Q,5,I PROS | \n- Spacious and clean!! \n- Best qua...,1,T4rXSHtNUOA47GXS63S6mg,3570 S Las Vegas Blvd,...,"{'lot': 'FALSE', 'valet': 'TRUE', 'garage': 'T...","{'divey': 'FALSE', 'casual': 'TRUE', 'classy':...","['Restaurants', 'Buffets', 'Sandwiches', 'Food...",T4rXSHtNUOA47GXS63S6mg,April,606,2012-03-30 04:07:01,47,"2015,2016,2017,2018",3.86
4,RESDUcs7fIiihp38-d6_6g,29,2014-01-17 00:50:50,21,JlNnsvMPLK_1-X2hwzK24w,4,"""A feast worthy of Gods""\n\nBaccarnal Buffet i...",39,IS9yw8P2uAPBX6FNLLX4KA,3570 S Las Vegas Blvd,...,"{'lot': 'FALSE', 'valet': 'TRUE', 'garage': 'T...","{'divey': 'FALSE', 'casual': 'TRUE', 'classy':...","['Restaurants', 'Buffets', 'Sandwiches', 'Food...",IS9yw8P2uAPBX6FNLLX4KA,Richard,1169,2009-03-17 21:58:25,313,"2013,2014,2015,2016,2017",3.84

# EDA

In [4]:
df1=pd.read_csv('yelp_features_17.csv')

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8568 entries, 0 to 8567
Data columns (total 18 columns):
Unnamed: 0        8568 non-null int64
cool              8568 non-null int64
date              8568 non-null object
funny             8568 non-null int64
review_id         8568 non-null object
stars             8568 non-null int64
text              8568 non-null object
useful            8568 non-null int64
user_id           8568 non-null object
attributes        8568 non-null object
name              8568 non-null object
stars-2           8568 non-null int64
name-2            8568 non-null object
review_count-2    8568 non-null int64
yelping_since     8568 non-null object
fans              8568 non-null int64
elite             2707 non-null object
average_stars     8568 non-null float64
dtypes: float64(1), int64(8), object(9)
memory usage: 1.2+ MB

In [49]:
df=df1.fillna(0)

In [50]:
df=df.drop('Unnamed: 0',axis=1)

In [51]:
df.head()

,cool,date,funny,review_id,stars,text,useful,user_id,attributes,name,stars-2,name-2,review_count-2,yelping_since,fans,elite,average_stars
0,0,2017-06-17 16:43:45,0,W5RswgVnEle0W1ZNIljgHw,5,Super fresh seafood. It's worth the wait.\n\nB...,0,SC5EHnwH64t31PjyCttw5A,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...",Bacchanal Buffet,4,Dennis,13,2011-06-17 18:19:47,0,0,3.92
1,0,2015-01-18 15:36:53,0,kjsy2HUCCCuZeh6qn0vcSQ,4,All I can say is Wooow! Haha I was in buffet h...,0,en0xQXlvRk-ZtKlaW4I8eQ,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...",Bacchanal Buffet,4,Aja,10,2014-06-29 00:24:47,0,0,3.55
2,2,2015-08-19 04:35:10,1,sHrnxaDlMZ5EyOgVNLIkyA,5,We checked in thinking that would mean we coul...,4,h2STke9y3VKzdJA9LXPm7A,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...",Bacchanal Buffet,4,Ashley,378,2010-08-01 19:38:50,28,"2014,2015,2016,2017,2018",4.02
3,0,2012-11-06 06:06:19,0,taNGJlUdZqwXrw0AwAAR-Q,5,I PROS | \n- Spacious and clean!! \n- Best qua...,1,T4rXSHtNUOA47GXS63S6mg,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...",Bacchanal Buffet,4,April,606,2012-03-30 04:07:01,47,"2015,2016,2017,2018",3.86
4,29,2014-01-17 00:50:50,21,JlNnsvMPLK_1-X2hwzK24w,4,"""A feast worthy of Gods""\n\nBaccarnal Buffet i...",39,IS9yw8P2uAPBX6FNLLX4KA,"{'NoiseLevel': ""u'average'"", 'HasTV': 'False',...",Bacchanal Buffet,4,Richard,1169,2009-03-17 21:58:25,313,"2013,2014,2015,2016,2017",3.84

In [52]:
df=df.drop('name',axis=1)

In [53]:
#After data cleaning, in total we have 16 columns and 8568 reviews.
df['stars'].value_counts()

5    3399
4    2276
3    1300
1     830
2     763
Name: stars, dtype: int64

In [11]:
import string
buffet = df[df['text'].str.lower().str.contains('buffet') == True]

In [12]:
buffet.shape

(6487, 18)

In [81]:
## add column 'class' for good or bad reviews

for i in range(df.shape[0]):
    if df.loc[i, 'stars'] >= 4:
        df.loc[i,'class'] = 1    # 1 for good
        
    else:
        df.loc[i, 'class'] = 0

In [82]:
df['class']=df['class'].astype(int)

In [144]:
df.to_csv("yelp_cleaned_data.csv")

In [6]:
import pandas as pd
df=pd.read_csv('yelp_cleaned_data.csv')

In [7]:
## devide our reviews to good and bad
good=df[df['class']==1]
bad=df[df['class']==0]

In [8]:
good_reviews=list(good['text'].values)
bad_reviews=list(bad['text'].values)

# TF-IDF for good reviews

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
wd=stopwords.words()+['bacchanal','buffet','food','good','like','best','worth','vegas','back',
                      'tried','year','story','definitely','really',"get", "ever","take", 
                      "eat", "go", "said",'buffets','highly','recommend','king']

vectorizer = TfidfVectorizer(ngram_range=(3,6),
                             token_pattern=r'\b[a-zA-Z]{3,}\b',
                             max_df=0.4,
                             min_df=2, stop_words=wd)

In [37]:
from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize
import string
lemmatizer = WordNetLemmatizer()
def lemmatize_sentence(sentence):
    words = word_tokenize(sentence)
    res_words = []
    for word in words:
        res_words.append(lemmatizer.lemmatize(word).strip(string.punctuation))
    return " ".join(res_words)

In [38]:
X = vectorizer.fit_transform(good_reviews)
terms = vectorizer.get_feature_names()
tf_idf= pd.DataFrame(X.toarray().transpose(), index=terms)
tf_idf = tf_idf.sum(axis=1)
score = pd.DataFrame(tf_idf, columns=["score"])
score["term"] = terms
score.sort_values(by="score", ascending=False, inplace=True)

/anaconda3/lib/python3.7/site-packages/sklearn/feature_extraction/text.py:300: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['baiknya', 'berkali', 'kali', 'kurangnya', 'mata', 'olah', 'printr', 'sekurang', 'setidak', 'tama', 'tidaknya'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

In [39]:
score30=score.head(30)

In [40]:
score30

                                    score                            term
snow crab legs                  25.132200                  snow crab legs
steamed crab legs               22.951406               steamed crab legs
hot crab legs                   22.386849                   hot crab legs
mochi ice cream                 21.464289                 mochi ice cream
crab legs oysters               21.094604               crab legs oysters
red velvet pancakes             18.646050             red velvet pancakes
oysters crab legs               17.696915               oysters crab legs
chocolate covered strawberries  16.357201  chocolate covered strawberries
cold crab legs                  15.896073                  cold crab legs
little bit everything           14.597219           little bit everything
crab legs shrimp                14.248970                crab legs shrimp
fresh squeezed juices           13.882037           fresh squeezed juices
better wicked spoon             12.555183             better wicked spoon
stone crab claws                12.056825                stone crab claws
save room dessert               11.685912               save room dessert
prime rib brisket               11.624434               prime rib brisket
made order crepes               11.520020               made order crepes
sweet potato tots               11.293989               sweet potato tots
warm crab legs                  11.222978                  warm crab legs
total rewards card              10.739944              total rewards card
hot sour soup                   10.602024                   hot sour soup
seafood crab legs               10.599403               seafood crab legs
wicked spoon cosmopolitan       10.307049       wicked spoon cosmopolitan
prime rib lamb                  10.279021                  prime rib lamb
sweet potato fries              10.231460              sweet potato fries
sweet potato tater              10.147646              sweet potato tater
potato tater tots               10.101652               potato tater tots
sweet potato tater tots         10.041364         sweet potato tater tots
meat carving station             9.356044            meat carving station
chinese dim sum                  9.139145                 chinese dim sum

# TF-IDF for bad Reviews

In [71]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords
wd=stopwords.words()+['buffet','crab','worth','worst','back','eating','eat','good','forward',
                      'looking','better','great','best','story','waste']

vectorizer = TfidfVectorizer(ngram_range=(3,6),
                             token_pattern=r'\b[a-zA-Z]{3,}\b',
                             max_df=0.4,
                             min_df=2, stop_words=wd)

In [72]:
Y = vectorizer.fit_transform(bad_reviews)
terms = vectorizer.get_feature_names()
tf_idf1= pd.DataFrame(Y.toarray().transpose(), index=terms)
tf_idf1 = tf_idf1.sum(axis=1)
score1 = pd.DataFrame(tf_idf1, columns=["score"])
score1["term"] = terms
score1.sort_values(by="score", ascending=False, inplace=True)

/anaconda3/lib/python3.7/site-packages/sklearn/feature_extraction/text.py:300: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['baiknya', 'berkali', 'kali', 'kurangnya', 'mata', 'olah', 'printr', 'sekurang', 'setidak', 'tama', 'tidaknya'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

In [73]:
score31=score1.head(30)

In [74]:
score31

                              score                       term
got food poisoning         6.922944         got food poisoning
prime rib tough            6.211096            prime rib tough
horrible customer service  5.178578  horrible customer service
wait time minutes          5.102208          wait time minutes
wicked spoon much          4.873354          wicked spoon much
wicked spoon cosmo         4.606901         wicked spoon cosmo
wait line get              4.312860              wait line get
meat carving station       4.282690       meat carving station
quality food service       4.235545       quality food service
wicked spoon wynn          4.086523          wicked spoon wynn
large selection food       4.061695       large selection food
wicked spoon cosmopolitan  4.035417  wicked spoon cosmopolitan
asian food section         3.768903         asian food section
try wicked spoon           3.674361           try wicked spoon
waiting line hours         3.632982         waiting line hours
wait long line             3.627623             wait long line
wicked spoon bellagio      3.600650      wicked spoon bellagio
total rewards card         3.597979         total rewards card
really really bad          3.551156          really really bad
chinese food section       3.477656       chinese food section
wicked spoon way           3.402859           wicked spoon way
wynn wicked spoon          3.373052          wynn wicked spoon
poor quality food          3.356144          poor quality food
excited try place          3.351991          excited try place
save time money            3.335450            save time money
low quality food           3.279306           low quality food
waited line hours          3.222269          waited line hours
mochi ice cream            3.192577            mochi ice cream
one buffets vegas          3.157386          one buffets vegas
food nothing special       3.112294       food nothing special